@page "{id:int}"
@model WebApplication2.Pages.Product.UpdateModel
@{
   
}

<h1>Update Product</h1>

<form method="post">
    <input type="hidden" asp-for="UpdatedProduct.Id" />

    <div>
        <label>Name</label>
        <input asp-for="UpdatedProduct.Name" />
    </div>
    <div>
        <label>Price</label>
        <input asp-for="UpdatedProduct.Price" type="number" />
    </div>
    <div>
        <label>Category</label>
        <select asp-for="UpdatedProduct.CategoryId">
            @foreach (var category in Model.Categories)
            {
                    <option value="@category.Id" selected="@(category.Id == Model.UpdatedProduct.CategoryId ? "selected" : null)">
                    @category.Name
                    </option>
            }
        </select>
    </div>
    <button type="submit">Save Changes</button>
</form>

<a asp-page="/Product/Index">Cancel</a>
